/* src/components/settings/settingsShared.css */
:root {
  --primary-color: #4CAF50; /* Default green color */
}

.scrollable-container {
  max-height: 80vh; /* Adjust this value as needed */
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
}

table {
    margin: auto;
    width: 50%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .add-setting-form {
    margin: 20px auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .add-setting-form label {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .add-setting-form input,
  .add-setting-form select,
  .add-setting-form button {
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
  }
  
  .add-setting-form button {
    background-color: var(--primary-color);;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .add-setting-form button:hover {
    background-color: #45a049;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--primary-color);;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--primary-color);;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: var(--primary-color);;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .error {
    color: red;
    text-align: center;
    margin-top: 20px;
  }
  