Flask>=2.3.3,<3.1
Flask-SQLAlchemy>=3.0.3,<4.0
pydantic>=2.0,<3.0
pydantic-settings>=2.0,<3.0
icalendar>=4.1
psycopg2-binary>=2.9
pymysql>=1.1
flask_cors>=3.1
cryptography>=41.0
bcrypt>=4.0
python-ulid>=1.1
pyjwt>=2.8
flasgger==0.9.7b2
sqlalchemy>=2.0
flake8>=6.0
black>=24.3
pyotp>=2.9
twilio>=8.16
passlib[bcrypt]>=1.8,<2.0
zipstream-new>=1.1.0,<2.0