/* styles.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Light Mode */
body.light-mode {
    background-color: #f4f4f4;
    color: #333;
}

/* Dark Mode */
body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

/* custom-navbar Styles */
.custom-navbar {
    background-color: #333;
    overflow: hidden;
}

.custom-navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.custom-navbar a:hover {
    background-color: #4CAF50;
    color: black;
}

/* custom-dropdown Styles */
.custom-dropdown {
    float: left;
    overflow: hidden;
}

.custom-dropdown:hover{
 background-color: #4CAF50;
}

.custom-dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.custom-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.custom-dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.custom-dropdown-content a:hover {
    background-color: #4CAF50;
}

.custom-dropdown:hover .custom-dropdown-content {
    display: block;
}

       /* Add styles for the dropdown button and its container */
       .dropdown1 {
        position: relative;
        display: inline-block;
    }

    /* Style the button */
    .dropdown1 button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    /* Style the dropdown content (hidden by default) */
    .dropdown-content1 {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 400px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        column-count: 2; /* Two columns */
        column-gap: 8px; /* Adjust the gap between columns as needed */
    }

    /* Style the links inside the dropdown */
    .dropdown-content1 a {
        color: black;
        padding: 4px 4px;
        text-decoration: none;
        display: block;
        width: 100%;
        break-inside: avoid-column; /* Ensures even distribution of items in both columns */
    }

    .dropdown-content1 li {
        color: black;
        padding: 4px 4px;
        text-decoration: none;
        display: block;
        width: 100%;
        break-inside: avoid-column; /* Ensures even distribution of items in both columns */
    }

        /* Change color of dropdown links on hover */
    .dropdown-content1 li:hover {
        background-color: #45a049;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content1 a:hover {
        background-color: #45a049;
    }

    /* Show the dropdown menu on hover */
    .dropdown1:hover .dropdown-content1 {
        display: block;
    }

/* standard button */
.standard-btn {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.standard-btn:hover {
    background-color: #45a049; /* Darker Green */
}

/* Toggle Switch Styles */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px; /* Rounded border */
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%; /* Rounded button */
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Content Styles */
#content {
    padding: 20px;
}
