{% extends 'base.html' %}
{% block title %}Add Asset{% endblock %}
{% block head %}
    <!-- Include the Toastify library for displaying toast messages -->
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <!-- Define custom styles -->
    <style>
        /* Adds a red asterisk to required fields */
        .required-field::after {
            content: "*";
            color: red;
        }

        #image-preview {
            max-width: 200px;
            max-height: 200px;
            margin-top: 20px;
        }
    </style>
{% endblock %}
{% block content %}
<h1>Add Asset</h1>
<!-- Form for adding a new asset -->
    <!-- Image preview container -->
    <div id="image-preview"></div><br>

    <!-- Form for adding a new asset -->
    <form action="/asset_add" method="post" enctype="multipart/form-data">
        <!-- Asset Name -->
        <label for="name" class="required-field">Asset Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <!-- Asset Serial Number -->
        <label for="asset-sn" class="required-field">Asset Serial Number:</label><br>
        <input type="text" id="asset-sn" name="asset_sn" required><br><br>

        <!-- Asset Description -->
        <label for="description">Asset Description:</label><br>
        <textarea id="description" name="description"></textarea><br><br>

        <!-- Acquired Date -->
        <label for="acquired-date">Acquired Date:</label><br>
        <input type="date" id="acquired-date" name="acquired_date">
        <br><br>

        <!-- File Upload for Image -->
        <label for="image">Select image:</label><br>
        <input type="file" class="standard-btn" id="image" name="image" onchange="previewImage(event)">
        <br><br>

        <!-- Submit Button -->
        <input type="submit" class="standard-btn" value="Add Asset">
    </form>

    <!-- Navigation Buttons -->
    <!-- Button for navigating back -->
    <button type="button" class="standard-btn" onclick="goBack()">Back</button>
    <!-- Button for navigating to All Assets -->
    <button type="button" class="standard-btn" onclick="redirectToAssetAll()">All Assets</button>

    <!-- JavaScript Section -->
    <script>
        // Function to navigate back to the previous page
        function goBack() {
            window.history.back();
        }
        // Function to redirect to All Assets page
        function redirectToAssetAll() {
            window.location.href = "/asset_all";
        }

        // Function to display a preview of the selected image
    function previewImage(event) {
        var image = document.getElementById('image-preview');
        image.innerHTML = '';
        var reader = new FileReader();
        reader.onload = function () {
            var img = document.createElement('img');
            img.src = reader.result;
            img.style.maxWidth = '200px'; // Limiting the width of the image to 200px
            img.style.maxHeight = '200px'; // Limiting the height of the image to 200px
            img.style.border = '3px solid green'; // Adding a black border around the image
            img.style.marginBottom = '10px'; // Adding space below the image
            image.appendChild(img);
        };
        reader.readAsDataURL(event.target.files[0]);
    }

    // Function to display a toast message
    function showToast() {
        Toastify({
            text: "Asset successfully added!",
            duration: 3000, // 3 seconds
            gravity: "top", // 'top' or 'bottom'
            position: 'right', // 'left', 'center' or 'right'
            backgroundColor: "linear-gradient(to right, #4CAF50, #96c93d)",
            stopOnFocus: true // Prevents dismissing of toast on hover
        }).showToast();
    }
</script>

<!-- Display the toast message when necessary -->
{% if toast %}
    <script>
        showToast();
    </script>
{% endif %}
{% endblock %}