<!-- Extending the base template -->
{% extends 'base.html' %}

<!-- Setting the title -->
{% block title %}Asset Maintenance{% endblock %}

{% block head %}
<!-- Styling for the table -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <style>
        #nameFilter {
            padding: 10px;
            margin-bottom: 15px;
            width: 30%;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        /* styles for the slideshow and image display */
        .slideshow-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 100%;
            overflow: hidden;
            position: relative;
        }

        .mySlides {
        flex: 0 0 200px;
        margin: 5px auto; /* Added margin to center the pictures */
        text-align: center;
        position: relative;
    }

        .mySlides img {
            width: 200px;
            height: 200px;
            margin: 5px auto; /* Added margin to center the pictures */
            object-fit: cover;
        }

        .text {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            color: white;
            font-size: 18px;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 5px 0;
        }   

        .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        user-select: none;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1; /* Adjusted the z-index value to bring the buttons to the front */
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }

        .prev:hover, .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
        
    </style>
{% endblock %}

<!-- Content block -->
{% block content %}
<!-- First Heading -->
    <h1>Asset List</h1>

<!-- Input for filtering -->
<input type="text" id="nameFilter" oninput="filterNames('asset-table')" placeholder="Search for asset.." title="Type in an Asset Name">

<!-- Table to display assets -->
<table id="asset-table" class="standard-table">
    <tr>
        <th class="sortable-header" data-column="0">Name</th>
        <th class="sortable-header" data-column="1">Description</th>
    </tr>
    {% for asset in assets %}
        <tr>
            <td><a href="/assets/asset_edit/{{ asset.id }}">{{ asset.name }}</a></td>
            <td>{{ asset.description }}</td>
        </tr>
    {% endfor %}
</table>


    <!-- Slideshow container for displaying images -->
    <div class="slideshow-container">
        {% for asset in assets %}
        <div class="mySlides">
            {% if asset.image_path %}
                <a href="/assets/asset_edit/{{ asset.id }}">
                    <c><img src="{{ url_for('serve_image', image_name=asset.image_path, asset_id=asset.id) }}" alt="{{ asset.name }}"></c>
                </a>
            {% else %}
                <a href="/assets/asset_edit/{{ asset.id }}">
                    <c><img src="/static/images/default.png" alt="{{ asset.name }}"></c>
                </a>
            {% endif %}
            <div class="text">{{ asset.name }}</div>
        </div>
    {% endfor %}

    </div>

    <!-- JavaScript function for filtering the table -->
    <script>
    // Function to filter the table based on the entered text
    function filterNames() {
        var input, filter, table, tr, td, i, txtValue;
        var counter = 0;
        var maxItems = 50; // Set the maximum number of items to display

        input = document.getElementById("nameFilter");
        filter = input.value.toUpperCase();
        table = document.getElementById("asset-table");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those that don't match the search query or exceed the maximum number of items
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0]; // Index 0 corresponds to the first column (Name)
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    if (counter < maxItems) {
                        tr[i].style.display = "";
                        counter++;
                    } else {
                        tr[i].style.display = "none";
                    }
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    var sortingOrder = {}; // Keep track of sorting order for each column

    function sortTable(columnIndex) {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("asset-table");
        switching = true;

        // Initialize sorting order for the column if not present
        if (!sortingOrder[columnIndex]) {
            sortingOrder[columnIndex] = "asc";
        } else {
            // Toggle sorting order between "asc" and "desc"
            sortingOrder[columnIndex] = (sortingOrder[columnIndex] === "asc") ? "desc" : "asc";
        }

        while (switching) {
            switching = false;
            rows = table.rows;

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("td")[columnIndex].innerText.toLowerCase();
                y = rows[i + 1].getElementsByTagName("td")[columnIndex].innerText.toLowerCase();

                if ((sortingOrder[columnIndex] === "asc" && x > y) || (sortingOrder[columnIndex] === "desc" && x < y)) {
                    shouldSwitch = true;
                    break;
                }
            }

            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }

        // Update arrow classes after sorting
        updateArrowClasses(columnIndex);
    }

    // Function to toggle sorting order and update arrow classes
    function toggleSortingOrder(columnIndex) {
        var header = document.querySelectorAll(".sortable-header")[columnIndex];

        if (!header.classList.contains("asc") && !header.classList.contains("desc")) {
            header.classList.add("asc");
        } else {
            header.classList.toggle("asc");
            header.classList.toggle("desc");
        }
    }

    // Function to update arrow classes after sorting
    function updateArrowClasses(columnIndex) {
        var header = document.querySelectorAll(".sortable-header")[columnIndex];

        document.querySelectorAll('.sortable-header').forEach(function (otherHeader, otherIndex) {
            if (otherIndex !== columnIndex) {
                otherHeader.classList.remove("asc", "desc");
            }
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
        // Attach click event listeners to sortable headers
        document.querySelectorAll('.sortable-header').forEach(function (header, index) {
            header.addEventListener('click', function () {
                sortTable(index);
                toggleSortingOrder(index);
            });
        });
    });
    
    </script>
    {% endblock %}
