{% extends 'base.html' %}

{% block title %}Edit Asset{% endblock %}

{% block head %}
    <!-- Include necessary scripts and styles -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Custom styles for the table -->
    <style>
        #nameFilter {
            padding: 10px;
            margin-bottom: 15px;
            width: 30%;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        #total-row {
            font-weight: bold;
        }

        #total-row.always-visible {
            display: table-row !important;
        }

        .hidden {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Heading for the asset edit page -->
    <h1>Edit Asset</h1>

    <!-- Nav tabs for different sections -->
    <ul class="nav nav-tabs" id="myTabs">
        <!-- Tab for general asset information -->
        <li class="nav-item">
            <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general">Asset Info</a>
        </li>
        <!-- Tab for services related to the asset -->
        <li class="nav-item">
            <a class="nav-link" id="services-tab" data-toggle="tab" href="#services">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="services-tab" data-toggle="tab" href="#options">Options</a>
        </li>
        <!-- Add more tabs as needed -->
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- General tab -->
        <div id="general" class="tab-pane fade show active">
            <!-- Display the asset image if available -->
            {% if asset.image_path %}
            <img src="{{ url_for('serve_image', image_name=asset.image_path, asset_id=asset.id) }}" alt="{{ asset.image_path }}" style="max-width: 200px; max-height: 200px; border: 3px solid green;">
            {% endif %}
			<br>
            <!-- Form for editing general asset information -->
            <form action="/assets/asset_edit/{{ asset.id }}" method="post" enctype="multipart/form-data">
                <!-- Input fields for asset details -->
                <label for="name">Asset Name:</label><br>
                <input type="text" id="name" name="name" value="{{ asset.name }}"><br><br>

                <label for="asset-sn">Asset Serial Number:</label><br>
                <input type="text" id="asset-sn" name="asset_sn" value="{{ asset.asset_sn }}" required><br><br>

                <label for="description">Asset Description:</label><br>
                <textarea id="description" name="description">{{ asset.description }}</textarea><br><br>

                <label for="acquired-date">Acquired Date:</label><br>
                <input type="date" id="acquired-date" name="acquired_date" value="{{ asset.acquired_date }}"><br><br>

                <!-- Input for uploading a new image -->
                <label for="image">Upload an asset image:</label><br>
                <input type="file" id="image" class="standard-btn" name="image"><br><br>

                <!-- Button to submit the form -->
                <input type="submit" class="standard-btn" value="Update Asset">
                <button type="button" class="standard-btn" data-toggle="modal" data-target="#addServiceModal" data-asset-id="{{ asset.id }}" data-asset-name="{{ asset.name }}">Add Service</button>
                <!-- {% include 'service_add_button_new.html' %} -->
                <br>
            </form>

            <!-- Form for deleting the asset -->
            <form action="/assets/asset_delete/{{ asset.id }}" method="post" onsubmit="return confirmDelete()">
                <!-- Buttons for navigation and deletion -->
                <button type="button" class="standard-btn" onclick="goBack()">Back</button>
                <button type="button" class="standard-btn" onclick="redirectToAssetAll()">All Assets</button>
                <input type="submit" value="Delete" style="background-color: #f44336;" class="standard-btn">
            </form>
        </div>

        <!-- Services tab content -->
        <div id="services" class="tab-pane fade">
            <!-- Button to trigger the modal -->
            <br>
            <button type="button" class="standard-btn" data-toggle="modal" data-target="#addServiceModal" data-asset-id="{{ asset.id }}" data-asset-name="{{ asset.name }}">Add Service</button>
            <br>
            <hr>
    <!-- First Heading -->
    <h1>Service List</h1>
    <!-- Input for filtering -->
    <input type="text" id="nameFilter" oninput="filterNames()" placeholder="Search for asset.." title="Type in an Asset Name">
    
    <!-- Table to display services -->
    <table id="service-table">
        <tr>
            <th class="sortable-header" data-column="0">Service Type</th>
            <th class="sortable-header" data-column="1">Service Date</th>
            <th class="sortable-header" data-column="2">Service Cost</th>
            <th class="sortable-header" data-column="3">Service Complete</th>
            <th class="sortable-header" data-column="4">Service Notes</th>
        </tr>
        <!-- Loop through services to display service details -->
        {% for service in services %}
            <tr class="visible-row">
                <td><a href="/services/service_edit/{{ service.id }}">{{ service.service_type }}</a></td>
                <td>{{ service.service_date }}</td>
                <td>{{ service.service_cost }}</td>
                <td>{{ service.service_complete }}</td>
                <td>{{ service.service_notes }}</td>
            </tr>
        {% endfor %}
    
        <!-- Total Row -->
        <!-- Add the "visible-row" class to the total row -->
        <tr id="total-row" class="always-visible visible-row">
            <td colspan="2"></td>
            <td>Total: <span id="total-service-cost">0.00</span></td>
            <td colspan="2"></td>
        </tr>
    </table>
        </div>
        <!-- Asset Options -->
        <div id="options" class="tab-pane fade">
            <form id="downloadForm" action="/assets/generate_zip/{{ asset.id }}" method="get">
                <button type="submit" class="standard-btn">Download Asset Files</button>
            </form>
        </div>
        <!-- Add more tab panes as needed -->
    </div>

    <!-- JavaScript functions -->
    <script>
        // Function to go back in history
        function goBack() {
            window.history.back();
        }

        // Function to redirect to the page displaying all assets
        function redirectToAssetAll() {
            window.location.href = "/assets/asset_all";
        }
    // Function to confirm deletion
        function confirmDelete() {
            // Prompt the user for confirmation
            var userConfirmation = prompt("To confirm deletion, type 'delete asset':");
            // Check if the entered text is 'Delete asset'
            if (userConfirmation !== "delete asset") {
                alert("Confirmation text did not match. Service will not be deleted.");
                return false; // Prevent form submission
            }
            // If the confirmation text is correct, allow form submission
            return true;
        }
        // Function to show a toast notification for successful update
        function showToast() {
            Toastify({
                text: "Asset successfully updated!",
                duration: 3000, // 3 seconds
                gravity: "top", // `top` or `bottom`
                position: 'right', // `left`, `center` or `right`
                backgroundColor: "linear-gradient(to right, #4CAF50, #96c93d)",
                stopOnFocus: true // Prevents dismissing of toast on hover
            }).showToast();
        }
        function filterNames() {
        var input, filter, table, tr, td, i, txtValue;
        var counter = 0;
        var maxItems = 50;

        input = document.getElementById("nameFilter");
        filter = input.value.toUpperCase();
        table = document.getElementById("service-table");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those that don't match the search query or exceed the maximum number of items
        for (i = 1; i < tr.length; i++) { // Start from index 1 to skip the header row
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                var isVisible = txtValue.toUpperCase().indexOf(filter) > -1 && counter < maxItems;
                tr[i].classList.toggle("hidden", !isVisible);
                counter += isVisible ? 1 : 0;
            }
        }

        // After filtering, update the total cost
        updateTotalCost();
    }
    // Updating the total cost
    function updateTotalCost() {
    var totalCost = 0;
    var visibleRows = 0;

    var table = document.getElementById("service-table");
    var rows = table.getElementsByTagName("tr");
    var totalRow = document.getElementById("total-row");
    }

    // Check if the filter is empty
    var isFilterEmpty = document.getElementById("nameFilter").value.trim() === '';

    // Loop through all table rows (skip the header row)
    for (var i = 1; i < rows.length; i++) {
        if (isFilterEmpty || !rows[i].classList.contains("hidden")) { // Check if the filter is empty or the row is not hidden
            var costCell = rows[i].getElementsByTagName("td")[3];
            var costText = costCell.textContent.trim();
            var cost = parseFloat(costText.replace(/[$,]/g, ''));

            if (!isNaN(cost)) {
                totalCost += cost;
            }

            visibleRows++;
        }
    }
    var sortingOrder = {}; // Keep track of sorting order for each column

    function sortTable(columnIndex) {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("service-table");
        switching = true;

        // Initialize sorting order for the column if not present
        if (!sortingOrder[columnIndex]) {
            sortingOrder[columnIndex] = "asc";
        } else {
            // Toggle sorting order between "asc" and "desc"
            sortingOrder[columnIndex] = (sortingOrder[columnIndex] === "asc") ? "desc" : "asc";
        }

        while (switching) {
            switching = false;
            rows = table.rows;

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("td")[columnIndex].innerText.toLowerCase();
                y = rows[i + 1].getElementsByTagName("td")[columnIndex].innerText.toLowerCase();

                if ((sortingOrder[columnIndex] === "asc" && x > y) || (sortingOrder[columnIndex] === "desc" && x < y)) {
                    shouldSwitch = true;
                    break;
                }
            }

            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }

        // Update arrow classes after sorting
        updateArrowClasses(columnIndex);
    }

    // Function to toggle sorting order and update arrow classes
    function toggleSortingOrder(columnIndex) {
        var header = document.querySelectorAll(".sortable-header")[columnIndex];

        if (!header.classList.contains("asc") && !header.classList.contains("desc")) {
            header.classList.add("asc");
        } else {
            header.classList.toggle("asc");
            header.classList.toggle("desc");
        }
    }

    // Function to update arrow classes after sorting
    function updateArrowClasses(columnIndex) {
        var header = document.querySelectorAll(".sortable-header")[columnIndex];

        document.querySelectorAll('.sortable-header').forEach(function (otherHeader, otherIndex) {
            if (otherIndex !== columnIndex) {
                otherHeader.classList.remove("asc", "desc");
            }
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
        // Attach click event listeners to sortable headers
        document.querySelectorAll('.sortable-header').forEach(function (header, index) {
            header.addEventListener('click', function () {
                sortTable(index);
                toggleSortingOrder(index);
            });
        });
    });
    </script>
    
    <!-- Conditionally show the toast notification -->
    {% if toast %}
        <script>
            showToast();
        </script>
    {% endif %}
{% endblock %}
