<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div id="custom-navbar" class="custom-navbar">
    <a href="/">Home</a>
    <a href="/calendar">Calendar</a>
    <div class="custom-dropdown">
        <button class="dropbtn">Assets</button>
        <div class="custom-dropdown-content">
            <a href="/asset_add">Add Asset</a>
            <a href="/asset_all">All Assets</a>
        </div>
    </div>
    <div class="custom-dropdown">
        <button class="dropbtn">Services</button>
        <div class="custom-dropdown-content">
            <a href="/service_add">Add Service</a>
            <a href="/service_all">All Services</a>
        </div>
    </div>
    <a href="/settings">Settings</a>
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>

</body>
</html>
