{% extends 'base.html' %}

{% block title %}Edit Service{% endblock %}

{% block head %}
    <!-- Include necessary scripts and styles -->
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Styling for required fields -->
    <style>
        .required-field::after {
            content: "*";
            color: red;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Heading -->
    <h1>Edit Service</h1>

    <!-- Navigation tabs -->
    <ul class="nav nav-tabs" id="myTabs">
        <li class="nav-item">
            <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general">Service Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="services-tab" data-toggle="tab" href="#services">Attachments</a>
        </li>
        <!-- Add more tabs as needed -->
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- General tab -->
        <div id="general" class="tab-pane fade show active">
            <!-- General form -->
            <form action="/services/service_edit/{{ service.id }}" method="post" enctype="multipart/form-data">
                <!-- Form fields for general service information -->
                <label for="asset_name" class="required-field">Asset Name:</label><br>
            <input type="text" id="asset_name_input" name="asset_name" value="{{ service.asset.name }}" oninput="updateAssetId()" required><br><br>
            <input type="hidden" id="asset_id_input" name="asset_id" value="{{ service.asset_id }}">

            <label for="service_type" class="required-field">Service Type:</label><br>
            <input type="text" id="service_type" name="service_type" value="{{ service.service_type }}" required><br><br>

            <label for="service_date" class="required-field">Service Date:</label><br>
            <input type="date" id="service_date" name="service_date" value="{{ service.service_date }}" required><br><br>

            <label for="service_cost">Service Cost:</label><br>
            <input type="number" id="service_cost" name="service_cost" value="{{ service.service_cost }}" step="any"><br><br> <!--added any to accept decimal -->

            <label for="service_complete">Service Complete:</label><br>
            <input type="checkbox" id="service_complete" name="service_complete" {% if service.service_complete %}checked{% endif %} onchange="showSecondaryCheckbox()"><br><br>

            <div id="serivce_add_again" style="display: none;">
                <!-- Additional options if service is marked as complete -->
                <label for="service_add_again">Add Service again?</label><br>
                <input type="checkbox" name="service_add_again_check" id="service_add_again_check"onchange="showSecondaryDays()"><br>
                <div id="serivce_add_again_days" style="display: none;"><br>
                    <label for="service_add_again">What Date will this be due?</label><br>
                    <input type="date" name="service_add_again_days_cal" id="service_add_again_days_cal"><br><br>
                    <!-- Custom dropdown with two columns -->
                    <div class="custom-dropdown">
                        <button class="standard-btn">Add Days</button>
                        <div class="custom-dropdown-content-double">
                            <div class="column">
                                <a onclick="addDaysToDate(7)">7 Days</a>
                                <a onclick="addDaysToDate(14)">14 Days</a>
                                <a onclick="addDaysToDate(30)">30 Days</a>
                                <a onclick="addDaysToDate(60)">60 Days</a>
                            </div>
                            <div class="column">
                                <a onclick="addDaysToDate(90)">90 Days</a>
                                <a onclick="addDaysToDate(180)">180 Days</a>
                                <a onclick="addDaysToDate(365)">365 Days</a>
                                <a onclick="addDaysToDate(730)">730 Days</a>
                            </div>
                        </div>
                    </div><br><br><br>
                </div>
            </div>

            <label for="service_notes">Service Notes:</label><br>
            <textarea id="service_notes" name="service_notes">{{ service.service_notes }}</textarea><br><br>

            <!-- Add multiple attachment upload field -->
            <label for="attachments">Upload attachments to service:</label><br>
            <input type="file" id="attachments" class="standard-btn" name="attachments" multiple><br><br>
        <input type="submit" class="standard-btn" value="Update Service"><br>
        </form>
        <form action="/services/service_delete/{{ service.id }}" method="post" onsubmit="return confirmDelete()">
        <button type="button" class="standard-btn" onclick="goBack()">Back</button>
        <button type="button" class="standard-btn" onclick="redirectToServiceAll()">All Services</button>
        <input type="submit" value="Delete" style="background-color: #f44336;" class="standard-btn">
        </form>
    </div>
    <div id="services" class="tab-pane fade">
        <!-- Attachments tab -->
        <form action="/delete_selected_attachments" method="post" onsubmit="return confirmDelete()">
            {% if service.serviceattachments %}
                <ul>
                    {% for attachment in service.serviceattachments %}
                        <li>
                            <input type="checkbox" name="selected_attachments[]" value="{{ attachment.id }}" id="{{ attachment.id }}">
                            <label for="{{ attachment.id }}">
                                <a href="{{ url_for('uploaded_file', filename=attachment.attachment_path) }}" target="_blank">{{ attachment.attachment_path }}</a>
                            </label>
                        </li>
                    {% endfor %}
                </ul>
                <button type="submit" class="standard-btn">Delete Selected</button>
            {% else %}
                <p>No attachments for this service.</p>
            {% endif %}
        </form>
    </div>
    
</div>
    <!-- JavaScript for additional functionality -->
    <script>
        // Function to navigate back
        function goBack() {
            window.history.back();
        }

        // Function to redirect to all services
        function redirectToServiceAll() {
            window.location.href = "/services/service_all";
        }
    function showToast() {
        Toastify({
            text: "Service successfully updated!",
            duration: 3000, // 3 seconds
            gravity: "top", // 'top' or 'bottom'
            position: 'right', // 'left', 'center' or 'right'
            backgroundColor: "linear-gradient(to right, #4CAF50, #96c93d)",
            stopOnFocus: true // Prevents dismissing of toast on hover
        }).showToast();
    }
    // jQuery UI autocomplete setup
    $(function () {
        var assetData = [
            {% for asset in assets %}
                { label: "{{ asset.name | safe }}", value: "{{ asset.id }}" },
            {% endfor %}
        ];

        $("#asset_name_input").autocomplete({
            source: assetData,
            select: function (event, ui) {
                $("#asset_name_input").val(ui.item.label);
                $("#asset_id_input").val(ui.item.value);
                return false;
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            return $("<li>")
                .append("<div>" + item.label + "</div>")
                .appendTo(ul);
        };
    });
    // Functions for conditional display of additional options
    function showSecondaryCheckbox() {
        var serviceCompleteCheckbox = document.getElementById("service_complete");
        var secondaryCheckbox = document.getElementById("serivce_add_again");
        if (serviceCompleteCheckbox.checked) {
            secondaryCheckbox.style.display = "block";
        } else {
            secondaryCheckbox.style.display = "none";
        }
    }
    // Function to add days to a date
    function showSecondaryDays() {
        var serviceCompleteCheckbox = document.getElementById("service_complete");
        var secondaryCheckbox = document.getElementById("serivce_add_again_days");
        if (serviceCompleteCheckbox.checked) {
            secondaryCheckbox.style.display = "block";
        } else {
            secondaryCheckbox.style.display = "none";
        }
    }
    function addDaysToDate(addDays) {
        console.log("Adding days:", addDays); // Log to check if the function is being triggered
        var today = new Date();
        var serviceAddAgainDays = new Date(today.setDate(today.getDate() + addDays));
        var formattedDate = formatDate(serviceAddAgainDays);
        console.log("Formatted date:", formattedDate); // Log the formatted date
        document.getElementById("service_add_again_days_cal").value = formattedDate;
    }
    // Function to format a date
    function formatDate(date) {
        var year = date.getFullYear();
        var month = (date.getMonth() + 1).toString().padStart(2, '0');
        var day = date.getDate().toString().padStart(2, '0');
        return `${year}-${month}-${day}`;
    }
    // Function to confirm deletion
    function confirmDelete() {
            // Prompt the user for confirmation
            var userConfirmation = prompt("To confirm deletion, type 'delete service':");
            // Check if the entered text is 'Delete asset'
            if (userConfirmation !== "delete service") {
                alert("Confirmation text did not match. Service will not be deleted.");
                return false; // Prevent form submission
            }
            // If the confirmation text is correct, allow form submission
            return true;
        }

</script>
    <!-- Show toast message if needed -->
    {% if toast %}
        <script>
            showToast();
        </script>
    {% endif %}
{% endblock %}