<!DOCTYPE html>
<html>

<head>
    <title>Settings</title>
</head>

{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}
    <h1>Settings</h1>

    <form action="{{ url_for('export_csv') }}" method="post">
        <label for="table">Select a Table:</label>
        <select id="table" name="table">
            <!-- Populate the dropdown with your table names -->
            {% for table_name in table_names %}
                <option value="{{ table_name }}">{{ table_name }}</option>
            {% endfor %}
        </select>
    
        <button type="submit" class="standard-btn">Export to CSV</button>
    </form>
{% endblock %}

</div>

</body>

</html>
