<!DOCTYPE html>
<html>
<head>
    <!-- Set the title of the page -->
    <title>{% block title %}{% endblock %}</title>
    <!-- Include head content such as scripts and styles -->
    {% block head %}{% endblock %}
    <!-- Include Bootstrap CSS from a CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Include custom styles from a local static file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<!-- Custom navigation bar -->
<div id="custom-navbar" class="custom-navbar">
</div>

<!-- Content section of the page -->
<div id="content">
    <!-- Block to be filled with content by child templates -->
    {% block content %}{% endblock %}
</div>


<!-- Include Bootstrap and jQuery scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
