<!-- Extending the base template -->
{% extends 'base.html' %}

<!-- Setting the title -->
{% block title %}MATER{% endblock %}

<!-- Setting the head-->
{% block head %}
    <!-- CSS for the heading text -->
    <style>
        .cool-text {
            font-family: 'Arial Black', Gadget, sans-serif;
            font-size: 60px;
            color: #4CAF50;
            text-shadow: 2px 2px 4px #000000;
            letter-spacing: 0.1em;
            text-align: center;
            position: relative;
        }

        .cool-text::after {
            content: 'Maintenance. Asset. Tracking. Equipment. Registry.';
            font-family: 'Arial', sans-serif;
            font-size: 18px;
            color: #000;
            position: absolute;
            top: 70px;
            left: 0;
            width: 100%;
            text-align: center;
        }

        .center {
            display: block;
            margin: 0 auto;
        }

        /* Status styling */
        .status {
            text-align: center;
            font-size: 24px;
            color: #333;
            margin-top: 20px;
        }

        .status.working {
            color: green;
        }

        .status.error {
            color: red;
        }
    </style>
{% endblock %}

<!-- Content block -->
{% block content %}
    <!-- Heading -->
    <h1 class="cool-text" data-text="MATER">MATER</h1>

    <!-- MATER Image -->
    <div><img src="/static/images/MATER.png" alt="MATER Image" class="center"></div>

    <!-- Status of the app -->
    <div id="status" class="status">Checking status...</div>

    <script>
        // Function to fetch the app status
        function checkAppStatus() {
            fetch('/status')
                .then(response => response.json())
                .then(data => {
                    const statusDiv = document.getElementById('status');
                    if (data.status === 'App is running') {
                        statusDiv.textContent = 'App is running';
                        statusDiv.classList.remove('error');
                        statusDiv.classList.add('working');
                    } else {
                        statusDiv.textContent = 'App is not running';
                        statusDiv.classList.remove('working');
                        statusDiv.classList.add('error');
                    }
                })
                .catch(error => {
                    const statusDiv = document.getElementById('status');
                    statusDiv.textContent = 'Error: Unable to fetch app status';
                    statusDiv.classList.remove('working');
                    statusDiv.classList.add('error');
                });
        }

        // Call the status check function every 5 seconds
        setInterval(checkAppStatus, 5000);
        checkAppStatus(); // Check on page load
    </script>
{% endblock %}
